.menuex {
  display: none;
  color: #f5a942;
}

.menu-ul {
  padding-top: 15px;
  color: var(--white-color);
}

.menutab {
  padding: 5px 10px;
}

.menutab:hover {
  color: aquamarine;
  border-radius: 20px;
  background-color: rgba(127, 255, 212, 0.2);
}

.search {
  background-color: #1e2524;
  border-radius: 25px;
  padding: 25px;

  color: var(--white-color);
}

.search::placeholder,
.search:focus {
  outline: none;

  color: var(--text-color);
}

.main {
  background-color: var(--backgroud);
}

.left {
  display: block;
  font-family: "Montserrat";
  font-size: 20px;
  padding: 5px;
  justify-content: space-evenly;
  padding: 18px 18px;

  text-transform: capitalize;
  background-color: var(--l-nav);
}
