.pic {
  color: var(--white-color);
  font-family: "Montserrat:400", sans-serif;
  text-transform: capitalize;
  padding: 20px 40px;
}

.firstpart {
  position: relative;
  display: grid;
  grid-template-columns: repeat(13, 100px);
  column-gap: 10px;
  margin-top: -22px;
  margin-left: 0;
}

.secondpart {
  display: grid;
  grid-template-columns: repeat(12, 100px);
  column-gap: 10px;
  margin-left: 3.35rem;
  margin-top: -22px;
  position: relative;
}

.con {
  width: 100px;
  height: 100px;
  transition: all 0.2s;
  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
}

.con:hover,
.label:hover {
  background-color: rgba(18, 22, 21, 0.6);
  opacity: 1;
}

.label {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  opacity: 0;
}

.text {
  position: absolute;
  top: 30px;
  left: 6px;
  color: white;
  font-family: Montserrat;
  font-weight: bold;
  text-align: center;
  opacity: 1;
}

.container {
  width: 100px;
  height: 100px;
}
