.overview {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  padding: 10px 0 25px 0;
}

.overview-text-box {
  width: 720px;
  height: 360px;
  text-align: center;
  padding: 110px 0 0 0;
}

.overview-text {
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 400;
  width: 40rem;
  height: 171px;
  line-height: 27px;
  justify-self: center;
  margin: 0 auto;
}

.overview-image {
  width: 720px;
  height: 360px;
  text-align: center;
  padding: 25px;
}
