.markdown {
  display: flex;
  width: 100%;
  height:100vh ;
  background-color: var(--backgroud);
  gap: 10px ;
  padding: 1rem;

}
.markdown-input {
  padding: 1rem;
  display: flex;
  flex-basis: 50%;
  border-right-width: 10px solid var(--text-color);
  position: relative;
  flex-direction: column;
}

.textinput-markdown{
  background-color: inherit;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  color:var(--text-color)
}
textarea:focus, input:focus {
  outline: none;  
}
.markdown-container {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;  
  padding: 1rem;
  flex-direction: column;
  position: relative;
}
.markdown-output{
  display: flex;
  flex-direction: column; 
  width: 100%;

}
.title-input{
 background-color: inherit;

padding-top: 10px;
  color:var(--text-color)
  

}
.code {
  margin: 10px;
  padding: 5px;
  display: inline-block;
  border-radius: 10px;
background-color: #2f3232;
}

.title-email{
  position: absolute;
  top:25px;
  left:10;
  width: 100%;
  background-color: inherit;
  color:var(--text-color)
  

}

.submit-button{
  position: absolute;
  bottom: 0;
  right: 0;
  background-color:blueviolet;
  padding: 10px;
  text-transform: capitalize;
  color: var(--text-color);
  border-radius: 25px;
  font-size: 25px;

  

}

.blockquote{
  padding: 10px 14px 10px;
  background: #535457;
  border-left: 3px solid #06fff1;
  color: #ffffff;
  font-style: italic;
  letter-spacing: 0.1em;}

.markdown-output ul li
 {
  list-style-type: disc; /* or your preferred list style */
  margin-left: 1.5em; /* Adjust the margin as needed */
}
.markdown-output ol li{
  list-style-type: decimal; /* or your preferred list style */
  margin-left: 1.5em; /* Adjust the margin as needed */
}

