.markdown {
  display: flex;
  width: 100%;
  height:100vh ;
  background-color: var(--backgroud);
  gap: 10px ;
  padding: 1rem;

}
.markdown-input {
  padding: 1rem;
  display: flex;
  flex-basis: 50%;
  border-right-width: 10px solid var(--text-color);
  position: relative;
  flex-direction: column;
}

.textinput-markdown{
  background-color: inherit;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  color:var(--text-color)
}
textarea:focus, input:focus {
  outline: none;  
}
.markdown-container {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;  
  padding: 1rem;
  flex-direction: column;
  position: relative;
}
.markdown-output{
  display: flex;
  flex-direction: column; 
  width: 100%;

}
.markdown-output img {
  width: 200px;
  height: 200px;
}
.title-input{
 background-color: inherit;

padding-top: 10px;
  color:var(--text-color)
  

}
.code {
  margin: 10px;
  padding: 5px;
  display: inline-block;
  border-radius: 10px;
background-color: #2f3232;
}

.title-email{
  position: absolute;
  top:25px;
  left:10;
  width: 100%;
  background-color: inherit;
  color:var(--text-color)
  

}
.file-icon{
  position: absolute;

  top:15px;
  right: 10px ;

  font-size: 25px;

  background-color: inherit;
  color:whitesmoke
}


 
.markdown-output h1{
  font-size: 1.8rem; /* 2 times the base font size */
}

.markdown-output h2 {
  font-size: 1.5rem; /* 1.5 times the base font size */
}

.markdown-output h3 {
  font-size: 1.2rem; /* 1.2 times the base font size */
}

.markdown-output h1,h2,h3,h4,h5,h6,p{
  margin-bottom: 10px;
}
.submit-button{
  position: absolute;
  bottom:60px;
  right: 0;
  background-color:var(--selected-color);
  padding: 10px;
  font-weight: 500;
  font-size: 18px ;
  text-transform: capitalize;
  color: var(--text-color);
  border-radius: 08px;


  

}
.preview-button{
  position: absolute;
  bottom:60px;
  left: 0;
  background-color:var(--selected-color);
  padding: 10px;
  font-weight: 500;
  font-size: 18px ;
  text-transform: capitalize;
  color: var(--text-color);
  border-radius: 8px;


  

}
.blockquote{
  padding: 10px 14px 10px;
  background: #535457;
  border-left: 3px solid #06fff1;
  color: #ffffff;
  font-style: italic;
  letter-spacing: 0.1em;}

.markdown-output ul li
 {
  list-style-type: disc; /* or your preferred list style */
  margin-left: 1.5em; /* Adjust the margin as needed */
}
.markdown-output ol li{
  list-style-type: decimal; /* or your preferred list style */
  margin-left: 1.5em; /* Adjust the margin as needed */
}
.preview {
  width: 100%;
  display: none;
  background-color: var(--l-nav);
  justify-content: center;
  height: 100vh;
  z-index: 1;

  position: absolute;
}

.pop-up {
  flex-direction: column;
  background-color: var(--backgroud);
  margin: 2rem auto;
  width: 50%;
  position: relative;
  animation: fadeIn 1s ease-in-out;
  padding: 5rem;
  color: var(--text-color);
  
}

.close-button {
  padding: 10px;
  text-transform: capitalize;
  background-color: red;
  color: white;
  border-radius: 25px;
  position: absolute;
  right: 10px;
  top: 20px;
}
.text-preview{
  display: flex;
  justify-content: center;
  color: white;
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-transform: capitalize;
}

.close-button:hover {
  color: var(--kPrimaryColor);
  cursor: pointer;
}

.alert {
  display: block;
  position: absolute;
  z-index: 1;
  color: red;
  background-color: #06fff1;
  width: auto;
  height: auto;
}
