.markdown {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: var(--backgroud);
  gap: 10px;
  padding: 1rem;
}
.markdown-input {
  padding: 1rem;
  display: flex;
  flex-basis: 50%;
  border-right-width: 10px solid var(--text-color);
}

.textinput-markdown {
  background-color: inherit;
  width: 100%;
  height: 85vh;
  color: var(--text-color);
  resize: none;
}
textarea:focus {
  outline: none;
}
.markdown-container {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
  padding: 1rem;
  flex-direction: column;
}
.markdown-output {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.code {
  margin: 10px;
  padding: 5px;
  display: inline-block;
  border-radius: 10px;
background-color: #2f3232;
}
.blockquote {
  padding: 10px 14px 10px;
  background: #535457;
  border-left: 3px solid #06fff1;
  color: #ffffff;
  font-style: italic;
  letter-spacing: 0.1em;
}


.unordered-list .orderded-list{
list-style: square;
  }
 .anchor{
  border-bottom: blue solid 3px;
 }
