.menuex {
  display: none;
  color: #f5a942;
}

.menu-ul {
  padding-top: 0.938rem;
  color: var(--white-color);
}

.menutab {
  padding: 0.313rem 0.625rem;
}

.menutab:hover {
  color: aquamarine;
  border-radius: 1.25rem;
  background-color: rgba(127, 255, 212, 0.2);
}

.search {
  background-color: #1e2524;

  padding: 1.563rem;

  color: var(--white-color);
}

.search::placeholder,
.search:focus {
  outline: none;

  color: var(--text-color);
}

.main {
  background-color: var(--backgroud);
}

.left {
  display: block;
  font-family: "Montserrat";
  font-size: 1.25rem;
  padding: 0.313rem;
  justify-content: space-evenly;
  padding:1.125rem 1.125rem;

  text-transform: capitalize;
  background-color: var(--l-nav);
}

.search-icon {
  background-color: #1e2524;
  color: white;
  display: inline;
  padding: 13px 12px;
}

.border_start {
  border-top-left-radius: 1.563rem;
  border-bottom-left-radius: 1.563rem;
}

.border_end {
  border-top-right-radius: 1.563rem;
  border-bottom-right-radius: 1.563rem;
}

.icon_background {
  padding: 0.125rem 0.438rem;
  display: inline;
  margin: 0.313rem;
  border-radius: 0.188rem;

  background-color: #37403f;
}
