/* sub-title  menu div */

.menuex {
  display: none;
  color: #f5a942;
}

/* title menu div */


.menu-ul {
  padding-top: 0.938rem;
  color: var(--white-color);
}

.menutab {
  padding: 0.313rem 0.625rem;
}

.menutab:hover {
  color: aquamarine;
  border-radius: 1.25rem;
  background-color: rgba(127, 255, 212, 0.2);
}

/* search div css */
.menu-search-div {
  padding: 0 !important;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.menu-search {
  padding: 1rem 1rem 1rem 2.5rem !important;
}

.menu-search-icon {
  position: absolute;
  left: 10px;
  color: var(--text-color);
}

.search::placeholder,
.search:focus {
  outline: none;

  color: var(--text-color);
}

/* background in layout div  */

.main {
  background-color: var(--backgroud);
}

/* left align css */

.left {
  display: block;
  font-family: "Montserrat";
  font-size: 1.25rem;
  padding: 0.313rem;
  justify-content: space-evenly;
  padding: 1.125rem 1.125rem;
  text-transform: capitalize;
  background-color: var(--l-nav);
}


