.menuex {
  display: none;
  color: var(--text-color);
}

.menu {
  margin: 1rem 1rem 1rem 1rem;
}

.menu-ul {
  padding-top: 0.5rem;
  color: var(--white-color);
}
/* .menu-ul:hover {
  color: var(--selected-color);
} */

.menutab {
  padding: 0.313rem 0.625rem;
}
/* 
.menutab:hover {
  color: #f5a942;
  border-radius: 1.25rem;
} */

.menu-search-div {
  padding: 0 !important;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.menu-search {
  padding: 0.5rem 1rem 0.5rem 1.5rem !important;
}

.nav-search {
  height: 30px !important;
}

.menu-search-icon {
  position: absolute;
  left: 10px;
  color: var(--text-color);
}


.search::placeholder,
.search:focus {
  outline: none;
  color: var(--text-color);
}

.main {
  background-color: var(--backgroud);
  overflow: hidden;
}

.left {
  display: block;
  font-family: "Montserrat";
  font-size: 1.25rem;
  padding: 0.313rem;
  justify-content: space-evenly;
  width:20rem;
  padding: 1.125rem 1.125rem;
  text-transform: capitalize;
  background-color: var(--l-nav);
}

.title{
  color:red
}