.menuex{
    display: none;

}

/* /* .menu-ul:c  urrent{
    color:aquamarine;
    border-radius: 20px;
    background-color: rgba(127, 255, 212, 0.200); 
} */

.menutab{
    padding: 2px 10px;
}
.menutab:hover{
    color:aquamarine;
    border-radius: 20px;
    background-color: rgba(127, 255, 212, 0.200);
}

.search{
    border: 2px solid var(--white-color);
    background-color: inherit;
    padding: 8px;
    color: var(--white-color);
}
.main{
background-color: var(--backgroud);

}


.left{
    display: block;
    font-family: 'Montserrat:400';
    font-size: 20px;
    padding:5px;
    justify-content: space-evenly;
    padding: 18px 18px;
    
    text-transform: capitalize;
    /* padding: 2px; */
    ;
    
    border-right: 4px solid var(--white-color);
    /* background-color: var(--backgroud); */

color:var(--text-color);

}