.pic-gallery {
  margin: 0 auto 0 auto;
  padding: 10rem 0;
}

.pic {
  color: var(--white-color);
  font-family: "Montserrat:400", sans-serif;
  text-transform: capitalize;
  padding: 1.25rem 2.5rem;
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.5rem;
  row-gap: 2.3rem;
  justify-content: center;
}

.img-container {
  width: 3.75rem;
  height: 3.75rem;
  transition: all 0.2s;
  position: relative;

  flex-basis: 5.33rem;
}
/* animation hover effect  */

.img-contributor:only-child,
.label:hover{
  /* animation-delay: 0.5s; */

  animation: moveInBottom 0.2s forwards;
  opacity: 1;
}
.img-contributor {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 10rem;

  opacity: 1;
}

/* adding image hover  via label div  */

.label {
  position: absolute;
top:0;
  display: flex;
  border-radius: 10rem;   
  color: white;
  
  width: 3.75rem;
  height: 3.75rem;
  opacity: 0;
  padding: 0.2rem 0 ;
 
}

.text { 
  position: absolute;
  display: flex;
  font-family: Montserrat;
  
  text-align: center;
  background-color: var(--l-nav);
  bottom: -1.8rem;
  font-size:bold;
  border-radius: 1rem;
  margin:0 -3rem;
  justify-content: center;
  width:10rem;



}

/* animation hover effect on the img keyframes */

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(-10px);
  }
  100% {
    overflow: 1;
    transform: translate(0);
  }
}
