@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  font-family: "Montserrat", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  font-size: 1rem;
}

:root {
  --black-color: #272424cf;
  --white-color: #f5f5f5;
  --backgroud: #0e1012;/*BACKGROUND COLOR */
  --header-color: #1a171d;/*HEADER COLOR  */
  --l-nav: #171a1db3; /*LEFT NAVGATION BAR*/ 
  --text-color: #ffffff;
  --footer-color: #1a171d;/*FOOTER COLOR*/
 
}


.no-moblie {
  display: none;
}
@media only screen and (max-width: 380px) {
  .no-moblie {
    display: block;
  }
}
