@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  font-family: "Montserrat", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  font-size: 1rem;
}

:root {
  --black-color: #272424cf;
  --white-color: #f5f5f5;
  --backgroud: #121615;
  --header-color: #1e2524;
  --l-nav: #293130;
  --text-color: #ffffff;
  --footer-color: #1e2524;
}
